*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main{
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

main, img, .top-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-section{
  /* border: 1px solid orange; */
  width: 100%;
}

.top-section img {
  width: 100%;
}

section{
  border: 1px solid green;
  margin: 0 10px 0 10px;
}

.bottom-section{
  border: 1px solid red;
  width: 100%;
}
