*{
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  /* font-family: "Fraunces", serif; */
}

:root{

  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  /* Font */
  --Montserrat-font: "Montserrat", serif;
  --Fraunces-font: "Fraunces", serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--Montserrat-font);
  background-color: var(--Cream);

}

main{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: var(--White);
  padding: 0 0 25px 0;
  margin: 15px;
}

main, img, .top-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*********************  ************************/
.top-section{
  /* border: 1px solid orange; */
  width: 100%;
}

.top-section img {
  width: 100%;
}
/*********************  ************************/

.bottom-section{
  /* border: 1px solid red; */
  width: 100%;
}

section{
  /* border: 1px solid green; */
  margin: 0 25px 0 25px;
}

.sub-title p{
  font-weight: 500;
  margin: 25px 0 0 0;
  letter-spacing: .4em;
  text-transform: uppercase;
}

.sub-title, .description {
  font-size: .9em;
  color: var(--Dark-grayish-blue);
}

.product-name{
  font-family: var(--Fraunces-font);
  font-size: 2em;
  font-weight: 700;
}

.product-name h1{
  margin: 11px 0 0 0;
}

.description {
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

.description p {
  margin: 10px 0 15px 0;
}

.price {
  display: flex;
  gap: 1.5em;
  padding: 12px 0 20px 0;
}

.current-price {
  font-family: var(--Fraunces-font);
  font-size: 2em;
  font-weight: 700;
  color: var(--Dark-cyan);
  margin: 0;
}

.discount-price {
  margin: 0;
  align-self: center;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
}

.btn-cart {}

button {
  font-size: 1.4em;
  font-weight: 500;
  background-color: var(--Dark-cyan);
  border-radius: 5px;
  border: none;
  color: var(--White);
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

button img{
  width: .8em;
  padding: 0 10px 0 10px;
}

button:hover{
  background-color: var(--Very-dark-blue);
}

@media screen and (min-width: 650px) {
  main{
    flex-direction: row;
    border-radius: 0;
    padding: 0;
    max-width: 650px;
  }

  .top-section{
    /* border: 1px solid red; */
    border-radius: 0;
    margin: 0;
    height: 450px;
    width: 100%;
    content: url(./images/image-product-desktop.jpg);

  }

  .product-name h1{
    font-size: 1em;  
  }

  .bottom-section{
    width: 90%;
  }

  .btn-cart {
    margin: 0;
    /* border: 1px solid purple; */
    margin-bottom: 25px;
    height: auto;
  }
  
}
